.ant-table-content{
    border: 1px solid rgb(62, 62, 62);
    border-radius: unset;

}

.custom-table .ant-table-content .ant-table-cell{
    padding: 10px;
}

.custom-table .ant-table-content th.ant-table-cell{
    padding: unset;
    
}

.custom-table .ant-table-content .ant-table-thead .ant-table-cell{
    border-bottom: 1px solid rgb(62, 62, 62);
    border-start-start-radius: unset;
    border-start-end-radius: unset !important;
}

input.ant-input.css-dev-only-do-not-override-5uvb3z.ant-input-outlined{
    border-radius: 0;
}
span.ant-input-group-addon{
    border-radius: 0 !important; 
    margin: 0;
}

.column-filter{
    display: flex;
    justify-content: space-between;
    .column-dropdown-icon{
        cursor: pointer;
        .dropdown-outline :hover{
            color: rgb(52, 146, 235);
        }
    }
}